<div  class="page-layout simple fullwidth">
    <!-- HEADER -->


    <!-- HEADER -->
    <div class="header accent"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0"
             fxLayout="row" fxLayoutAlign="start center">
            <span class="logo-text title" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Suivie des Actions
                </span>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-wrapper mx-32 mx-md-0">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input #filter placeholder="Search for a product">
            </div>
        </div>
        <!-- / SEARCH -->

        <!-- ADD BUTTON -->
        <button mat-raised-button
                class="add-product-button fuse-white mt-24 mt-md-0"
                (click)="openActionDialog()">
            <span>Ajouter</span>
        </button>
        <!-- / ADD BUTTON -->

    </div>

    <!-- CONTENT -->
    <div class="content p-24">


        <!-- / CONTENT CARD -->
        <div class="page-layout blank p-24" fusePerfectScrollbar>

            <div class="example-container mat-elevation-z8">
                <table mat-table class="table-action" [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="week">
                        <th mat-header-cell *matHeaderCellDef> Semaine </th>
                        <td mat-cell *matCellDef="let element"> {{element.week}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date de soumission </th>
                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="dueDate">
                        <th mat-header-cell *matHeaderCellDef> Date de réalisation </th>
                        <td mat-cell *matCellDef="let element"> {{element.dueDate | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef> Zone </th>
                        <td mat-cell *matCellDef="let element"> {{ element.area.ref}}  </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="finding">
                        <th mat-header-cell *matHeaderCellDef> Problème </th>
                        <td mat-cell *matCellDef="let element"> {{element.finding}} </td>
                    </ng-container>
<!--                    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--                    <ng-container matColumnDef="plan_status">-->
<!--                        <th mat-header-cell *matHeaderCellDef> Status de planification </th>-->
<!--                        <td mat-cell *matCellDef="let element"> {{element.plan_status}} </td>-->
<!--                    </ng-container>-->
<!--                    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--                    <ng-container matColumnDef="check_satus">-->
<!--                        <th mat-header-cell *matHeaderCellDef> Status de vérification </th>-->
<!--                        <td mat-cell *matCellDef="let element"> {{element.check_satus}} </td>-->
<!--                    </ng-container>-->
<!--                    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--                    <ng-container matColumnDef="act_status">-->
<!--                        <th mat-header-cell *matHeaderCellDef> Status d'action </th>-->
<!--                        <td mat-cell *matCellDef="let element"> {{element.act_status}} </td>-->
<!--                    </ng-container>-->

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <p class="status text-truncate h6 p-4" [ngClass]="getClass(element)">
                                {{getStatus(element)}}
                            </p>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element" (click)="openDialogDetails(element.id)"><a> <span class="material-icons" style="font-size: 24px">description
</span> </a></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>


    </div>
    <!-- / CONTENT -->

</div>
