<h2 mat-dialog-title *ngIf="!reseted">Ajouter une action</h2>
<h2 mat-dialog-title *ngIf="reseted">Ajouter une  Autre action</h2>
<mat-dialog-content class="mat-typography">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper [linear]="true" #stepper>

            <mat-step [stepControl]="unitArea">

                <form fxLayout="column" [formGroup]="unitArea">

                    <ng-template matStepLabel>Info General</ng-template>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Unité d'action</mat-label>
                            <mat-select formControlName="unit" required (selectionChange)="getAreas($event.value)">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let unit of unitsData" [value]="unit.id">
                                    {{unit.ref}}  - {{unit.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Zone d'appartenance à l'unité</mat-label>
                            <mat-select formControlName="area" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let area of areasData" [value]="area.id">
                                    {{area.ref}} - {{area.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="actionStep">

                <form fxLayout="column" [formGroup]="actionStep">

                    <ng-template matStepLabel>Créer une action</ng-template>

                    <div fxFlex="1 0 auto" fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Problème</mat-label>
                            <textarea matInput formControlName="finding" required>
                                    Entrer le problème trouvé
                                </textarea>
                            <mat-error>Ce champ est obligatoire</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="100" fxLayout="row">

                        <div class="m-5px">
                            <mat-form-field appearance="outline">
                                <mat-label>Date de réalisation</mat-label>
                                <input matInput formControlName="dueDate" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="m-5px">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Responsable</mat-label>
                                <input matInput formControlName="res" required>
                                <mat-error>Ce champ est obligatoire</mat-error>

                            </mat-form-field>
                        </div>

                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" required>
                                    Entrer une description
                                </textarea>
                            <mat-error>Description is required!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step>

                <ng-template matStepLabel>Finaliser l'action</ng-template>

                <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                    Thank your for filling out our form.
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent"  (click)="finishHorizontalStepper(true);stepper.reset()">
                        Enregister et ajouter un autre
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper(false)">
                        Enregister
                    </button>
                </div>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>
</mat-dialog-content>
