<h2 mat-dialog-title>Ajouter une action</h2>
<mat-dialog-content class="mat-typography">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper [linear]="true">

            <mat-step [stepControl]="unitArea">

                <form fxLayout="column" [formGroup]="unitArea">

                    <ng-template matStepLabel>Info General</ng-template>

                    <div fxFlex="1 0 auto" fxLayout="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Unité d'action</mat-label>
                            <mat-select formControlName="unit" required (selectionChange)="getAreas($event.value)">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let unit of unitsData" [value]="unit.id">
                                    {{unit.ref}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Zone d'appartenance à l'unité</mat-label>
                            <mat-select formControlName="area" required >
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let area of areasData" [value]="area.id">
                                    {{area.ref}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>



                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="actionStep">

                <form fxLayout="column" [formGroup]="actionStep">

                    <ng-template matStepLabel>Créer une action</ng-template>

                    <div fxFlex="1 0 auto" fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                            <mat-error>Address is required!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step>

                <ng-template matStepLabel>Finaliser l'action</ng-template>

                <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                    Thank your for filling out our form.
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                        Previous
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()">
                        Finish
                    </button>
                </div>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>
</mat-dialog-content>
